In [1]:
first_name = "songke"

In [3]:
print(first_name)

songke

In [13]:
print(second_name)

hsk

In [9]:
second_name = "hsk"

In [15]:
third_name = "tyz"

In [17]:
forth_name = None

In [23]:
fifth_name = " "

In [19]:
print(first_name+second_name+third_name)

songkehsktyz

In [21]:
print(first_name+third_name+forth_name)

TypeError: can only concatenate str (not "NoneType") to str

In [27]:
print(first_name+second_name+fifth_name)

songkehsk

In [29]:
print(first_name+fifth_name+second_name)

songke hsk

In [31]:
print(name1+2ndName)

SyntaxError: invalid decimal literal (4051535038.py, line 1)

In [33]:
print(first_name+total$)

SyntaxError: invalid syntax (1035240621.py, line 1)

In [39]:
print(first&last+A_Name)

NameError: name 'first' is not defined

In [41]:
print(%age+user_address)

SyntaxError: invalid syntax (3443498397.py, line 1)

In [43]:
print(True_value+class)

SyntaxError: invalid syntax (2765399117.py, line 1)

In [45]:
print(name1+first_name)

NameError: name 'name1' is not defined

In [47]:
print(name1+total$)

SyntaxError: invalid syntax (390396425.py, line 1)

In [49]:
print(name1+first&last)

NameError: name 'name1' is not defined

In [51]:
print(name1+A_Name)

NameError: name 'name1' is not defined

In [53]:
print(name1+%age)

SyntaxError: invalid syntax (1352572358.py, line 1)

In [55]:
print(name1 = rohith0)

NameError: name 'rohith0' is not defined

In [57]:
name = qoq

NameError: name 'qoq' is not defined

In [59]:
name = "qoqo"

In [61]:
firstName = "sk"
first_name = "sk"

In [63]:
type(firstName)

str

In [65]:
x = 10
y = "10"
z = 10.0
a = True

In [67]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [69]:
print(type(a))

<class 'bool'>

In [4]:
x = 5

In [6]:
print("The value of x is" + x)

TypeError: can only concatenate str (not "int") to str

In [8]:
print(f"The value of x is {x}")

The value of x is 5

In [10]:
print(f"The value of x is {x}")

The value of x is 5

In [12]:
print("The value of x is {x}")

The value of x is {x}

In [79]:
print(z"The value of x is {x}")

SyntaxError: invalid syntax (4255026741.py, line 1)

In [81]:
Name = "hsk"
Age = 24

In [83]:
print(f"My name is {Name} and i am {Age} years old")

My name is hsk and i am 24 years old

In [85]:
10/3

3.3333333333333335

In [90]:
len("3.3333333333333335")

18

In [29]:
round(10 / 3,5)

3.33333

In [2]:
2e5

200000.0

In [4]:
2 * 10**5

200000

In [98]:
4.4e-4

0.00044

In [102]:
4.4 / 10**4

0.00044

In [10]:
4.4 * 10 ** -4

0.00044000000000000007

In [104]:
10/3

3.3333333333333335

In [106]:
10%3

1

In [108]:
-10

-10

In [110]:
-1*8

-8

In [112]:
-0

0

In [114]:
-1*0

0

In [116]:
3+4*2

11

In [118]:
x = 10
y = 20.5

In [120]:
print (x+y)

30.5

In [122]:
print (x-y)

-10.5

In [124]:
print (x*y)

205.0

In [126]:
print (y/x)

2.05

In [128]:
print (x+5)

15

In [130]:
print (y-10)

10.5

In [184]:
x = 10
y = 20.5

In [186]:
x = x + 5
y = y -10

In [188]:
print(x,y)

15 10.5

In [272]:
print(round(y))

10

In [274]:
print(x * y/ 2 - x)

63.75

In [11]:
import math

In [196]:
dir (math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [198]:
import random

In [206]:
random.random()

0.33023216126898514

In [252]:
int(random.uniform(20, 30))

22

In [13]:
random.randint(20, 30)

NameError: name 'random' is not defined

In [277]:
my_string = "This is text"
my_string

'This is text'

In [279]:
my_string = 'This is text'
my_string

'This is text'

In [14]:
my_string = """This is text in line 1
 and this is text in line2
 """
my_string

'This is text in line 1\n and this is text in line2\n '

In [16]:
my_string = "This is text with a \"double quote"
my_string

'This is text with a "double quote'

In [285]:
my_string = "This is \"text\" with a double quote"
my_string

'This is "text" with a double quote'

In [287]:
my_string = "This is \"text\" with a double quote"
print(my_string)

This is "text" with a double quote

In [295]:
my_string = "This is \\text\\ with a back slash"
print(my_string)

This is \text\ with a back slash

In [305]:
my_string = "This is \ttext\t with a back slash"
print(my_string)

This is 	text	 with a back slash

In [301]:
my_string = "This is text with a back slash"
print(my_string)

This is text with a back slash

In [28]:
str1 = "Hello"
str2 = "World"
str3 = " "
print (str1 + str2)
print(str1 + str3 + str2)
len(str1 + str3 + str2)

HelloWorld
Hello World

11

In [26]:
user_name = "sk"

print(f"Hello {user_name}")

Hello sk

In [21]:
user_name = input("what is your name?")

print(f"Hello {user_name}")

what is your name? hallen

Hello hallen

In [9]:
name1 = "HESONGKE"
name2 = "hesongke"

In [11]:
name1.lower()

'hesongke'

In [13]:
name2.upper()

'HESONGKE'

In [15]:
name2.title()

'Hesongke'

In [17]:
welcome = "hello world"
print(welcome)

hello world

In [23]:
print(welcome.replace("world","everyone"))

hello everyone

In [39]:
print(welcome.count("o"))

2

In [35]:
welcome = "Helloworld"
print(welcome.isalpha())

True

In [45]:
isGood = True
isNone = None

In [43]:
isGood + isGood

2

In [47]:
isGood + isNone

TypeError: unsupported operand type(s) for +: 'bool' and 'NoneType'

In [49]:
myRealnumber = 30
myTextNumber = "30"

In [53]:
myRealnumber + myTextNumber

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
myRealnumber + int(myTextNumber)

60

In [57]:
myFloatsNumber = "70.98"

In [59]:
myFloatsNumber + 5.00

TypeError: can only concatenate str (not "float") to str

In [61]:
float(myFloatsNumber) + 5.00

75.98