In [2]:
? print

Signature:  print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [4]:
print (4 +5)

9

In [6]:
print (10 / 2)

5.0

In [8]:
print ((4+5)/3)

3.0

In [10]:
print ("Hello!")

Hello!

In [15]:
print("Hello!", "how are you?")
print("Hello!", "how are you?", "my age is: ", 12)
print("Hello!", "how are you?", "I love programming")
print("Hello!", "how are you?", "I love programming", sep="\\")

Hello! how are you?
Hello! how are you? my age is:  12
Hello! how are you? I love programming
Hello!\how are you?\I love programming

In [24]:
first_name = input("what is your first_name?")
last_name = input("what is your last name?")
age = input("what is your age?")
height = input("what is your height?")
print(f"""your name is {first_name} {last_name},
and you are {age} years old ,your height is {height} """)

what is your first_name? he
what is your last name? songke
what is your age? 24
what is your height? 180cm

your name is he songke,
and you are 24 years old ,your height is 180cm

In [2]:
len("I love Python Programming")

25

In [25]:
import random

In [32]:
random.randint(1,10)

4

In [34]:
txt = "I love Python Programming"

In [38]:
len(txt)

25

In [41]:
y = -35.59

In [43]:
print("y")

y

In [45]:
print(y)

-35.59

In [47]:
y = -35.59
output3 = type(y)
print(output3)

<class 'float'>

In [53]:
4**20

1099511627776

In [55]:
output4 = 4**20
print(output4)

1099511627776

In [69]:
str1 = "Problem"
str2 = "Solving"
str3 = " "
output5 = str1 + str3 + str2
print(output5)

Problem Solving

In [71]:
x,y = 7,3
output6_i = x/y
output6_ii = x//y
type(output6_i)
type(output6_ii)

int

In [81]:
user_height = "175"
output8 = int(user_height)
print(output8)

175

In [87]:
sentence = "John said \"Hello\""
print(sentence)

John said "Hello"

In [107]:
fahrenheit_temperature= 78
print(fahrenheit_temperature)

78

In [111]:
C = (fahrenheit_temperature-32) * 5/9
output10 = C
print(output10)

25.555555555555557

In [120]:
input11 = "thE universiTy OF adelaiDE"

input11.title()

'The University Of Adelaide'

In [124]:
from math import e

In [139]:
output13_i = round(e)
output13_ii = round(e,2)
output13_iii = round(e,1)
print((output13_i),(output13_ii),(output13_iii))

3 2.72 2.7

In [129]:
round(e,2)

2.72

In [131]:
round(e,1)

2.7

In [149]:
input14 = "  .i., .nc.,., .omp  r.,ehe. ns,, .,. ibi . ,l,iti,., es "
output14 = input14.replace(" ","").replace(",","").replace(".","")
print(output14)

incomprehensibilities

In [151]:
print('home', 'user', 'documents', sep='/')

home/user/documents

In [153]:
print("H", "e", "l", "l", "o", "!")

H e l l o !

In [155]:
name = "John"
age = 12
print("My first name is", name, "My age is", age, "I love programming in Python")

My first name is John My age is 12 I love programming in Python

~~This was mistaken text~~

In [164]:
#named placeholders
txt1 = "My name is {fname}, I am {age}".format(fname = "John", age = 9)
#empty placeholders
txt2 = "My name is {}, I am {}".format("David", 12)
#price inside named placeholder
txt3 = "The price of John's toy is only ${price:.2f}".format(price = 49)
#price inside empty placeholder
txt4 = "The price of David's toy is only ${:.2f}".format(99.1212)

print(txt1, txt2, txt3, txt4, sep = '. ')

My name is John, I am 9. My name is David, I am 12. The price of John's toy is only $49.00. The price of David's toy is only $99.12

In [166]:
print("Hello {}! Your coffee is ready! Please pay {:.2f}.".format("Denise", "$5.121212"))

ValueError: Unknown format code 'f' for object of type 'str'

In [168]:
print("Hello {}! Your coffee is ready! Please pay {}.".format("Denise", "$5.12"))

Hello Denise! Your coffee is ready! Please pay $5.12.

In [170]:
![](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)

'[]' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [172]:
[![python logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png "Python logo")](https://www.python.org/)

SyntaxError: invalid syntax (1022018046.py, line 1)

In [174]:
print("Hello {}! Your coffee is ready! Please pay {:.2f}.".format("Denise", "$5.121212"))

ValueError: Unknown format code 'f' for object of type 'str'

In [ ]:
input16 = "10,612,419,001"
output16 = input16.replace(', ', '<placeholder>').replace('.', ', ').replace('<placeholder>', '.')

In [10]:
input_str = "10, 612, 419.001"
output16 = input_str.replace(', ', '.').replace('.', ', ')
print(output16)

10, 612, 419, 001